body {
background-color: antiquewhite;
color: brown;
font-size: 21px;
padding: auto;
margin: 0;
}

h1{
font-size: 50px;
color: brown;
}

.proportioned {
    height: auto;
    width: 600px;
}
.directory{
background-color: gainsboro;
font-size: 40px ;
margin: 30px;
}